<!--Navbar-->
<mdb-navbar [hidden]="!this.loginService.currentUser"
    SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color " [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink={{this.loginService.profileURL}}
            routerLinkActive="router-link-active">Don't Stop!</a></mdb-navbar-brand>

    <!-- Search form -->

    <input [(ngModel)]="searchParameters" type="text" placeholder="Technician Search" aria-label="Search">
    <button class="btn btn-primary p-1" (click)="search(searchParameters)" >Search</button>


    <!-- Collapsible content -->
    <links>
        <ul class="navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink={{this.loginService.profileURL}}>My
                        Profile</a>
                    <!-- *Implement logout feature -->
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/login" (click)="logout()">Log
                        out</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->