<div class="container-fluid pt-4">
    <!-- Section: Profile -->
    <section>
        <!-- Grid row -->
        <div class="row mt-5 justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4">
                <!-- Section: Basic Info -->
                <section class="card mb-4 text-center">
                    <picture>
                        <source srcset={{user?.photo}}>
                        <img src="assets/profile-default.png" alt="profile pic"
                            class="mx-auto d-block z-depth-1-half rounded-circle fit-image">
                    </picture>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><strong>{{user?.firstName}} {{user?.lastName}}</strong></h4>
                    </div>

                    <!--Owner-->
                    <div *ngIf="this.loginService.currentUser?.id == this.profileID">
                        <button type="button" class="btn btn-light" (click)="editModal.show()">Edit Profile</button>

                        <!--Technician Buttons-->
                        <div *ngIf="this.loginService.currentUser?.roleId == 2">
                            <button type="button" class="btn btn-light" (click)="newService.show()">New Service</button>
                        </div>

                    </div>
                </section>
                <!-- Section: Basic Info -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-center">

                <!-- Section: Experience -->
                <section class="card mb-4">
                    <div class="container card-body">

                        <h4 class="text-center mb-2">Available Services</h4>

                        <ul *ngFor="let s of availableServiceItems" class="px-1 pointer rounded blue lighten-4"
                            (click)="serviceModal.show(); selectService(s)"
                            style="list-style-type: none; text-align: left;">
                            <li>{{s?.name}}</li>
                            <li class="text-right">{{s?.cost}}</li>
                        </ul>

                    </div>
                </section>
                <!-- Section: Experience -->

                <!-- Section: Experience -->
                <section class="card mb-4" *ngIf="this.loginService.currentUser?.id == this.profileID">
                    <div class="container card-body">

                        <h4 class="text-center mb-2">Service Requests</h4>

                        <ul *ngFor="let s of requestedServices" class="px-1 pointer rounded blue lighten-4"
                            (click)="selectService(s)"
                            style="list-style-type: none; text-align: left;">
                            <li>{{s?.name}} for vehicle {{s?.vehicleId}}
                                <button class="btn btn-dark p-0" (click)="this.acceptRequest(selectedService)">Accept</button>
                            </li>
                            <li class="text-right">
                                <input type="date" id="ServiceTime" placeholder="Service Date" [(ngModel)]="this.serviceDate">
                            </li>
                        </ul>

                    </div>
                </section>
                <!-- Section: Experience -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-right">

                <!-- Section: Experience -->
                <section class="card mb-4">
                    <div class="container card-body">

                        <h4 class="text-center mb-2">Calendar</h4>

                        <div *ngFor="let s of futureServices" (click)="serviceModal.show(); selectService(s);">
                            <h5 class="pl-1 pr-1 rounded text-left blue lighten-4">{{s?.time | date:'short'}}</h5>
                            <h5 class="text-right">{{s?.name}}</h5>
                        </div>

                    </div>
                </section>
                <!-- Section: Experience -->
            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Profile -->
</div>

<!--MODALS-->
<!--MODALS-->
<!--MODALS-->

<!--Edit User Modal-->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">Edit Profile</h4>
            </div>

            <form [formGroup]="editForm">
                <div class="modal-body mx-4">
                    <div class="md-form mb-4">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="primary" class="relative waves-light"
                        (click)="editUser(); editModal.hide()" mdbWavesEffect>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--View Service Modal-->
<div mdbModal #serviceModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog justify-content-center" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="serviceModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">{{this.selectedService?.name}}</h4>
            </div>

            <div class="modal-body mx-4">
                <ul class="pl-0" style="list-style-type: none; text-align: left;">
                    <li>Vehicle</li>
                    <!--Should link to vehicle-->
                    <li class="text-right">{{this.selectedService?.vehicle_id}}</li>
                    <li>Type</li>
                    <li class="text-right">{{this.selectedService?.serviceTypeId | displayPipe}}</li>
                    <li>Cost</li>
                    <li class="text-right">{{this.selectedService?.cost}}</li>
                    <li>Date</li>
                    <li class="text-right">{{this.selectedService?.time | date:'short'}}</li>
                    <li>Tehcnician Note</li>
                    <li class="text-right">{{this.selectedService?.technicianNote}}</li>
                </ul>
            </div>

            <form [formGroup]="addreqServiceForm">
                <div class="modal-body mx-4">

                    <div class="modal-body mx-4">
                        <textarea id="userNote" class="md-textarea form-control" rows="3" placeholder="Description"
                            formControlName="userNote"></textarea>
                    </div>

                    <div class="md-form mb-4">
                        <input type="number" id="vid" class="form-control validate" min="1" step="1"
                            placeholder="Vehicle ID" formControlName="vid">
                    </div>

                </div>
            </form>

            <div class="modal-footer">
                <button *ngIf="this.loginService.currentUser?.id == this.profileID" type="button" class='btn btn-danger'
                    (click)="serviceModal.hide(); deleteService(selectedService);">Delete</button>
                <button *ngIf="this.loginService.currentUser?.roleId == 1" type="button" mdbBtn color="primary"
                    class="waves-light" aria-label="Close"
                    (click)="serviceModal.hide(); requestService(selectedService);" mdbWavesEffect>Request
                    Service</button>
            </div>
        </div>
    </div>
</div>

<!--New Past Service Modal-->
<div mdbModal #newService="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="newService.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">New Service</h4>
            </div>

            <form [formGroup]="addNewServiceForm">
                <div class="modal-body mx-4">

                    <div class="md-form mb-4">
                        <span>Type: </span><select [(ngModel)]="type" name="type" class="form-control"
                            formControlName="type">
                            <option value="1">Maintenance</option>
                            <option value="2">Body Repair</option>
                            <option value="3">Mechanical Repair</option>
                            <option value="4">Other</option>
                        </select>
                    </div>

                    <div class="md-form mb-4">
                        <input type="text" class="form-control" placeholder="Service Name" formControlName="name">
                    </div>

                    <div class="md-form mb-4">
                        <input type="number" id="ServiceCost" class="form-control validate" min="0.01" step="0.01"
                            placeholder="Service Cost" formControlName="cost">
                    </div>

                    <div class="modal-body mx-4">
                        <textarea id="technote" class="md-textarea form-control" rows="3"
                            placeholder="Service Description" formControlName="technote"></textarea>
                    </div>

                </div>
            </form>

            <div class="modal-footer">
                <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close"
                    (click)="newService.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                    (click)="addNewService()" (click)="newService.hide()">Submit</button>
            </div>
        </div>
    </div>
</div>