<div class="container-fluid" style="text-align: center;">
    <div class="col-md-4" id="cont">
        <img src="../assets/logo.png" alt="logo" class="img-fluid logo">

        <!--Form-->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="email" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="password" />
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!loginForm.value['email'] || !loginForm.value['password']"
                    class="btn btn-light">Login</button>
                <button type="button" class="btn btn-light" (click)="signupModal.show()">Signup</button>
                <button type="button" class="btn btn-blue-grey" (click)="fPassModal.show()">Forgot Password?</button>
            </div>
        </form>

    </div>
</div>

<!--Forgot Password Modal-->
<div mdbModal #fPassModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="fPassModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Forgot Password</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="fPassModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save
                    changes</button>
            </div>
        </div>
    </div>
</div>

<!--Signup Modal-->
<div mdbModal #signupModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="signupModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Signup</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="signupModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save
                    changes</button>
            </div>
        </div>
    </div>
</div>