<div class="container-fluid pt-4">
    <!-- Section: Profile -->
    <section>
        <!-- Grid row -->
        <div class="row mt-5 justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4">
                <!-- Section: Basic Info -->
                <section class="card mb-4 text-center">
                    <img src={{user?.pictureURL}} alt="profile pic"
                        class="mx-auto d-block z-depth-1-half rounded-circle fit-image">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><strong>{{user?.firstName}} {{user?.lastName}}</strong></h4>
                    </div>

                </section>
                <!-- Section: Basic Info -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-center">

                <!-- Card row -->
                <div *ngFor="let v of vehicles" class="card-deck">

                    <!-- Card -->
                    <div class="card vh-20% mb-2" routerLink='{{getVehicleURL(v)}}'>

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img src={{v?.photoURL}} class="mx-auto d-block z-depth-1-half fit-image" alt="">
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <!-- Title -->
                            <h4 class="card-title">{{v?.name}}</h4>
                            <p>{{v?.make}} {{v?.model}}</p>
                        </div>
                    </div>
                    <!-- Card -->



                </div>
                <!-- Card row -->

                <!-- Card row -->
                <div class="card-deck">


                </div>
                <!-- Card row -->

                <!-- Pagination -->
                <nav class="my-2 d-flex justify-content-center white pt-2 rounded">

                    <ul class="pagination pagination-circle pg-blue mb-0">
                        <!-- Numbers -->
                        <li class="page-item active"><a class="page-link waves-effect waves-effect">1</a></li>
                        <li class="page-item"><a class="page-link waves-effect waves-effect">2</a></li>
                    </ul>
                </nav>
                <!-- Pagination -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-right">

                <!-- Section: Experience -->
                <section class="card mb-4">
                    <div class="container card-body">

                        <h4 class="text-center mb-2">Calendar</h4>

                        <div *ngFor="let s of futureServices" (click)="serviceModal.show()">
                            <h5 class="pl-1 pr-1 rounded text-left blue lighten-4">{{s?.date | date:'short'}}</h5>
                            <h5 class="text-right">{{s?.name}}</h5>
                        </div>
                    </div>
                </section>
                <!-- Section: Experience -->
            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Profile -->
</div>


<!--Service Modal-->
<div mdbModal #serviceModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="serviceModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Signup</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="serviceModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save
                    changes</button>
            </div>
        </div>
    </div>
</div>


<!--Edit Profile Modal-->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Signup</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="editModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save
                    changes</button>
            </div>
        </div>
    </div>
</div>