<div class="container-fluid pt-4">
    <!-- Section: Profile -->
    <section>
        <!-- Grid row -->
        <div class="row mt-5 justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4">
                <!-- Section: Basic Info -->
                <section class="card mb-4 text-center">
                    <picture>
                            <source srcset={{user?.photo}}>
                            <img src="assets/profile-default.png" alt="profile pic"
                            class="mx-auto d-block z-depth-1-half rounded-circle fit-image">
                    </picture>
                    
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><strong>{{user?.firstName}} {{user?.lastName}}</strong></h4>
                    </div>
                    
                    <!--Owner-->
                    <div *ngIf="this.loginService.currentUser?.id == this.profileID">
                        <button type="button" class="btn btn-light" (click)="editModal.show()">Edit Profile</button>

                    </div>

                    <!--Customer Buttons-->
                    <div *ngIf="this.loginService.currentUser?.roleId == 1">
                        <button type="button" class="btn btn-light" (click)="addCar.show()">New Vehicle</button>
                    </div>


                </section>
                <!-- Section: Basic Info -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-center">

                <!-- Card row -->
                <div *ngFor="let v of vehicles" class="card-deck pointer">

                    <!-- Card -->
                    <div class="card vh-20% mb-2 hoverable" routerLink='{{getVehicleURL(v)}}'>

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <picture>
                                <source srcset={{v?.photoURL}}>
                                    <img src="assets/car-default.png" class="mx-auto hoverable d-block z-depth-1-half fit-image pointer" alt="">
                            </picture>
                            
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <!-- Title -->
                            <h4 class="card-title">{{v?.name}}</h4>
                            <p>{{v?.make}} {{v?.model}}</p>
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <!-- Card row -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-right">

                <!-- Section: Experience -->
                <section class="card mb-4">
                    <div class="container card-body">

                        <h4 class="text-center mb-2">Calendar</h4>

                        <div *ngFor="let s of futureServices" (click)="serviceModal.show(); selectService(s);" class="pointer">
                            <h5 class="pl-1 pr-1 rounded text-left blue lighten-4">{{s?.date | date:'short'}}</h5>
                            <h5 class="text-right">{{s?.name}}</h5>
                        </div>

                    </div>
                </section>
                <!-- Section: Experience -->
            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Profile -->
</div>

<!--MODALS-->
<!--MODALS-->
<!--MODALS-->

<!--Edit User Modal-->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">Edit Profile</h4>
            </div>

            <form [formGroup]="editForm">
                <div class="modal-body mx-4">
                    <div class="md-form mb-4">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="primary" class="relative waves-light"
                        (click)="editUser(); editModal.hide()" mdbWavesEffect>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--View Service Modal-->
<div mdbModal #serviceModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog justify-content-center" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="serviceModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">{{this.selectedService?.name}}</h4>
            </div>

            <div class="modal-body mx-4">
                <ul class="pl-0" style="list-style-type: none; text-align: left;">
                    <li>Vehicle</li>
                    <!--Should link to vehicle-->
                    <li class="text-right">{{this.selectedService?.vehicle_id}}</li>
                    <li>Type</li>
                    <li class="text-right">{{this.selectedService?.type_id | displayPipe}}</li>
                    <li>Cost</li>
                    <li class="text-right">{{this.selectedService?.cost}}</li>
                    <li>Date</li>
                    <li class="text-right">{{this.selectedService?.date | date:'short'}}</li>
                    <li>Tehcnician Note</li>
                    <li class="text-right">{{this.selectedService?.techNote}}</li>
                    <li>User Note</li>
                    <li class="text-right">{{this.selectedService?.userNote}}</li>
                    <li>Technician</li>
                    <!--Should link to technician-->
                    <li class="text-right">{{this.selectedService?.user_id}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close"
                    (click)="serviceModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>

<!--New Vehicle Modal-->
<div mdbModal #addCar="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="addCar.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">New Vehicle</h4>
            </div>

            <form [formGroup]="vForm">
                <div class="modal-body mx-4">

                    <div class="md-form mb-4 form-group">
                        <i class="fas fa-car prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Car Name" formControlName="name" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="number" class="form-control" placeholder="Year" formControlName="year" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Make" formControlName="make" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Model" formControlName="model" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="VIN" formControlName="vin" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Color" formControlName="color" />
                    </div>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="primary" class="relative waves-light"
                        (click)="newVehicle(); addCar.hide()" mdbWavesEffect>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>