<div class="container-fluid pt-4">
    <!-- Section: Profile -->
    <section>
        <!-- Grid row -->
        <div class="row mt-5 justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4">
                <!-- Section: Basic Info -->
                <section class="card mb-4 text-center">
                    <img src={{user?.pictureURL}} alt="profile pic"
                        class="mx-auto d-block z-depth-1-half rounded-circle fit-image">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><strong>{{user?.firstName}} {{user?.lastName}}</strong></h4>
                    </div>

                </section>
                <!-- Section: Basic Info -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-center">

                <!-- Card row -->
                <div class="card-deck">

                    <!-- Card -->
                    <div class="card card-cascade narrower card-ecommerce mb-0" routerLink="vehicle/">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img src="/assets/car-default.png" class="rounded mx-auto d-block" alt="">
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">
                            <!-- Title -->
                            <h4 class="card-title">Car Name</h4>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
                <!-- Card row -->

                <!-- Card row -->
                <div class="card-deck">


                </div>
                <!-- Card row -->

                <!-- Pagination -->
                <nav class="my-4 d-flex justify-content-center white pt-2 rounded">

                    <ul class="pagination pagination-circle pg-blue mb-0">
                        <!-- Numbers -->
                        <li class="page-item active"><a class="page-link waves-effect waves-effect">1</a></li>
                        <li class="page-item"><a class="page-link waves-effect waves-effect">2</a></li>
                    </ul>
                </nav>
                <!-- Pagination -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-4 text-right">

                <!-- Section: Experience -->
                <section class="card mb-4">
                    <div class="card-body">

                        <h5 class="text-center mb-2"><strong>Calendar</strong></h5>
                        <tbody class="table-responsive">
                            <tr>
                                <td class="pl-1 pr-1 rounded text-left blue lighten-4">11/14/2019 9:00am - 11:00am</td>
                            </tr>
                            <tr>
                                <td class="text-right"><a>Carmechanidsadssadasdasdasdasdc</a></td>
                            </tr>
                        </tbody>
                    </div>
                </section>
                <!-- Section: Experience -->
            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Profile -->
</div>