<div class="container-fluid">
    <!-- Section: Profile -->
    <section>
        <!-- Grid row -->
        <div class="row mt-5">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">

                <!-- Section: Achievements -->
                <section class="card mb-4">
                    <div class="card-body text-center">

                        <h5><strong>Upcoming events</strong></h5>

                    </div>
                </section>
                
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 text-center">

                <!-- Section: Basic Info -->
                <section class="card profile-card mb-4 text-center">
                    <div class="avatar z-depth-1-half">
                        <img src="/assets/car-default.png" alt="profile pic"
                            class="img-responsive rounded fit-image img-fluid">
                    </div>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><strong>CAR-NAME</strong></h4>
                        <h5>Vehicle<a href="">MDBootstrap</a></h5>
                        <p class="dark-grey-text">CAR-INFO</p>
                            <ul>
                                <li>Year:</li>
                                <li>Model:</li>
                                <li>Make:</li>
                                <li>VIN:</li>
                            </ul>

                    </div>

                </section>
                <!-- Section: Basic Info -->



            </div>
            <!-- Grid column -->

            <div class="col-lg-4 col-md-6 text-right">
                <!-- Section: Achievements -->
                <section class="card mb-4">
                    <div class="card-body text-center">

                        <h5><strong>Past events</strong></h5>

                    </div>
                </section>
                

            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Profile -->

</div>