<div class="container-fluid pt-4">
    <!-- Section: Profile -->
    <section>
        <!-- Grid row -->
        <div class="row mt-5 justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-12">

                <!-- Section: Achievements -->
                <section class="card mb-4">
                    <div class="card-body text-center">

                        <h4 class="text-center mb-2">Upcoming Services</h4>

                        <div *ngFor="let s of futureServices" (click)="serviceModal.show(); selectService(s);">
                            <h5 class="pl-1 pr-1 rounded text-left blue lighten-4">{{s?.date | date:'short'}}</h5>
                            <h5 class="text-right">{{s?.name}}</h5>
                        </div>
                    </div>
                </section>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-3 col-lg-4 col-md-6 text-center">

                <!-- Section: Basic Info -->
                <section class="card profile-card mb-4">
                    <div class="avatar z-depth-1-half">
                        <picture>
                            <source srcset={{vehicle?.photoURL}}>
                            <img src="assets/car-default.png" alt="profile pic"
                                class="img-responsive rounded fit-image img-fluid">
                        </picture>

                    </div>
                    <!-- Card content -->

                    <h4 class="card-title mt-3"><strong>{{vehicle?.name}}</strong></h4>
                    <p class="dark-grey-text mb-1">Vehicle Details</p>

                    <div class="row pt-1 card-body">
                        <div class="col-12">
                            <ul class="pl-0" style="list-style-type: none; text-align: left;">
                                <li><a>Owner</a></li>
                                <!--make this the name of the user-->
                                <li class="text-right">{{vehicle?.user.id}}</li>
                                <li>Year</li>
                                <li class="text-right">{{vehicle?.year}}</li>
                                <li>Make</li>
                                <li class="text-right">{{vehicle?.make}}</li>
                                <li>Model</li>
                                <li class="text-right">{{vehicle?.model}}</li>
                                <li>VIN</li>
                                <li class="text-right">{{vehicle?.VIN}}</li>
                                <li>Color</li>
                                <li class="text-right">{{vehicle?.color}}</li>
                                <li>Mileage</li>
                                <li class="text-right">{{vehicle?.mileage}}</li>
                                <li>Insurance</li>
                                <li class="text-right">{{vehicle?.insurance_id}}</li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-light" (click)="editVehicleModal.show()">Edit
                            Vehicle</button>
                    </div>
                </section>
                <!-- Section: Basic Info -->



            </div>
            <!-- Grid column -->

            <div class="col-xl-3 col-lg-4 col-md-6 text-right">
                <!-- Section: Achievements -->
                <section class="card mb-4">
                    <div class="card-body text-center">

                        <h4 class="text-center mb-2">Past Services</h4>

                        <div *ngFor="let s of pastServices" (click)="serviceModal.show(); selectService(s);">
                            <h5 class="pl-1 pr-1 rounded text-left blue lighten-4">{{s?.date | date:'short'}}</h5>
                            <h5 class="text-right">{{s?.name}}</h5>
                        </div>
                    </div>
                </section>

            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Profile -->

</div>


<!--View Service Modal-->
<div mdbModal #serviceModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog justify-content-center" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="serviceModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">{{this.selectedService?.name}}</h4>
            </div>

            <div class="modal-body mx-4">
                <ul class="pl-0" style="list-style-type: none; text-align: left;">
                    <li>Vehicle</li>
                    <!--Should link to vehicle-->
                    <li class="text-right">{{this.selectedService?.vehicle_id}}</li>
                    <li>Type</li>
                    <li class="text-right">{{this.selectedService?.type_id | displayPipe}}</li>
                    <li>Cost</li>
                    <li class="text-right">{{this.selectedService?.cost}}</li>
                    <li>Date</li>
                    <li class="text-right">{{this.selectedService?.date | date:'short'}}</li>
                    <li>Tehcnician Note</li>
                    <li class="text-right">{{this.selectedService?.techNote}}</li>
                    <li>User Note</li>
                    <li class="text-right">{{this.selectedService?.userNote}}</li>
                    <li>Technician</li>
                    <!--Should link to technician-->
                    <li class="text-right">{{this.selectedService?.user_id}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close"
                    (click)="serviceModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Vehicle Modal-->
<div mdbModal #editVehicleModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="editVehicleModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">Edit Vehicle</h4>
            </div>

            <form [formGroup]="editVehicleForm">
                <div class="modal-body mx-4">

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="number" class="form-control" placeholder="Year" formControlName="year" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Make" formControlName="make" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Model" formControlName="model" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="VIN" formControlName="vin" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="text" class="form-control" placeholder="Color" formControlName="color" />
                    </div>

                    <div class="md-form mb-4 form-group">
                        <i class="fas prefix grey-text"></i>
                        <input type="number" class="form-control" placeholder="Mileage" formControlName="mileage" />
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" mdbBtn color="primary" class="relative waves-light"
                        (click)="updateVehicle(); editVehicleModal.hide()" mdbWavesEffect>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>