<div class="container-fluid pt-4">
    <!-- Section: Profile -->
    <section>
        <!-- Grid row -->
        <div class="row mt-5">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">

                <!-- Section: Achievements -->
                <section class="card mb-4">
                    <div class="card-body text-center">

                        <h5><strong>Upcoming Services</strong></h5>

                    </div>
                </section>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 text-center">

                <!-- Section: Basic Info -->
                <section class="card profile-card mb-4">
                    <div class="avatar z-depth-1-half">
                        <img src={{vehicle?.photoURL}} alt="profile pic"
                            class="img-responsive rounded fit-image img-fluid">
                    </div>
                    <!-- Card content -->

                    <h4 class="card-title mt-3"><strong>{{vehicle?.name}}</strong></h4>
                    <p class="dark-grey-text mb-1">Vehicle Details</p>

                    <div class="row pt-1 card-body">
                        <div class="col-12">
                            <ul class="pl-0" style="list-style-type: none; text-align: left;">
                                <li><a>Owner</a></li> <!--make this the name of the user-->
                                <li class="text-right">{{vehicle?.user_id}}</li> 
                                <li>Year</li>
                                <li class="text-right">{{vehicle?.year}}</li> 
                                <li>Make</li>
                                <li class="text-right">{{vehicle?.make}}</li>
                                <li>Model</li>
                                <li class="text-right">{{vehicle?.model}}</li>
                                <li>VIN</li>
                                <li class="text-right">{{vehicle?.VIN}}</li>
                                <li>Color</li>
                                <li class="text-right">{{vehicle?.color}}</li>
                                <li>Mileage</li>
                                <li class="text-right">{{vehicle?.mileage}}</li>
                                <li>Insurance</li>
                                <li class="text-right">{{vehicle?.insurance_id}}</li>
                            </ul>
                        </div>
                    </div>

                </section>
                <!-- Section: Basic Info -->



            </div>
            <!-- Grid column -->

            <div class="col-lg-4 col-md-6 text-right">
                <!-- Section: Achievements -->
                <section class="card mb-4">
                    <div class="card-body text-center">

                        <h5><strong>Service History</strong></h5>

                    </div>
                </section>


            </div>

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Profile -->

</div>